<h1><%=@game.player1.name%> vs <%=@game.player2.name%>! </h1>
<h3>It is <%=@game.active_player.name%>'s turn to act...</h3>
  <div>
    <h2> <%=@game.active_player.name%> has <%= @game.active_player.hitpoints %> HP <%= @game.inactive_player.name %> has <%= @game.inactive_player.hitpoints %> HP</h2>
  </div>
<form action="/attack" method="post">
  <input type="submit" value="Attack">
</form>
<% if @game.last_action == "Attack"%>
  <h3> You successfully attacked <%= @game.inactive_player.name %> doing 10 damage!!! </h3>
<%end%>
<form action="/end_turn" method="post">
  <input type="submit" value="End Turn">
</form>
