<html>

<head>
  <title>Battle!</title>
  <link rel="stylesheet" href="./style.css">
</head>

<body>

<audio controls>
 <source src="http://media.w3.org/2010/07/bunny/04-Death_Becomes_Fur.mp4"
         type='audio/mp4'>
 <!-- The next two lines are only executed if the browser doesn't support MP4 files -->
 <source src="http://media.w3.org/2010/07/bunny/04-Death_Becomes_Fur.oga"
         type='audio/ogg; codecs=vorbis'>
 <!-- The next line will only be executed if the browser doesn't support the <audio> tag-->
 <p>Your user agent does not support the HTML5 Audio element.</p>
</audio>
  <h1>	<%= @game.player1.name %> vs. <%= @game.player2.name %> </h1>
  <h2> Turn: <%= @game.turn_number %></h2>

  <h2> <%= @game.player_turn.name %>'s turn</h2>

	<div class="player">
    <h3><%= @game.player1.name %>: <%= @game.player1.hp %></h3>
    <form action="/attack" method="post">
      <button type="submit" name="attack" value="default_attack">Attack</button>
      <button type="submit" name="attack" value="sleep_attack">Sleep</button>
      <button type="submit" name="attack" value="poison_attack">Poison</button>
      <button type="submit" name="attack" value="heal">Heal</button>
    </form>
  </div>
  <div class="player">
    <h3><%= @game.player2.name %>: <%= @game.player2.hp %></h3>
  </div>

	<div><em><%= @status %></em></div>
</body>

</html>
